@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <img src="miniLogo.png" width="70" height="60" />
        </div>

        
            @Body
        
    </main>
</div>
