
.vs/HelpDesk/FileContentIndex/0b469f83-a128-4ab0-b953-0683088c1b0c.vsidx
.vs/HelpDesk/DesignTimeBuild/.dtbcache.v2
*.v2
*.json
*.v2
.vs/HelpDesk/DesignTimeBuild/.dtbcache.v2
*.dll
*.dll
*.gz
*.cache
*.cache
