@page "/counter"
<link href="css/clients.css" rel="stylesheet" type="text/css" />
<PageTitle>Użytkownicy</PageTitle>

<h1>UŻYTKOWNICY</h1>

<table class="table">
    <tbody>
        <tr>
            <td><strong>ID</strong></td>
            <td><strong>IMIĘ</strong></td>
            <td><strong>NAZWISKO</strong></td>
            <td><strong>DZIAŁ</strong></td>

        </tr>
        <tr>
            <td>#1234</td>
            <td>HALYNA</td>
            <td>ROMSKA</td>
            <td>HR</td>
        </tr>

        <tr>
            <td>#1235</td>
            <td>GRAŻYNA</td>
            <td>PINIONC</td>
            <td>HR</td>
        </tr>
    </tbody>

</table>
