@page "/fetchdata"
@inject HttpClient Http
<link href="css/devices.css" rel="stylesheet" type="text/css" />
<PageTitle>Urządzenia</PageTitle>

<h1>URZĄDZENIA</h1>

<div class="section">
    <div class="zgloszenie">
        <h2 class="device"> URZĄDZENIE 1 </h2>

        <div class="nazwa">
            <p> NAZWA </p>
            <input class="dane" type="text" placeholder="Nazwa">
        </div>

        <div class="nazwa1">
            <p> TYP </p>
            <input class="dane" type="text" placeholder="Typ">
        </div>

        <div class="nazwa2">
            <p> MIEJSCE </p>
            <input class="dane" type="text" placeholder="Miejsce">
        </div>
    </div>


</div>

<div class="section">
    <div class="zgloszenie">
        <h2 class="device1"> URZĄDZENIE 2 </h2>

        <div class="nazwa">
            <p> NAZWA </p>
            <input class="dane" type="text" placeholder="Nazwa">
        </div>

        <div class="nazwa1">
            <p> TYP</p>
            <input class="dane" type="text" placeholder="Typ">
        </div>

        <div class="nazwa2">
            <p> MIEJSCE </p>
            <input class="dane" type="text" placeholder="Miejsce">
        </div>
    </div>


</div>