@page "/fetchdata"
@inject HttpClient Http
<link href="css/devices.css" rel="stylesheet" type="text/css" />
<PageTitle>Urządzenia</PageTitle>

<h1>URZĄDZENIA</h1>

<div class="devices">
    <table class="table">
        <tr>
            <td><strong>MARKA</strong></td>
            <td><strong>MODEL</strong></td>
            <td><strong>TYP</strong></td>
            <td><strong>OPROGRAMOWANIE</strong></td>

        </tr>
        <tr>
            <td>SAMSUNG</td>
            <td>HL56</td>
            <td>MONITOR</td>
            <td>BRAK</td>

        </tr>

        <tr>
            <td>ASUS</td>
            <td>A5520</td>
            <td>LAPTOP</td>
            <td>WINDOWS 10</td>

        </tr>
    </table>
</div>