@page "/"
<link href="css/clientticket.css" rel="stylesheet" type="text/css" />
<PageTitle>Zgłoszenia</PageTitle>

<h1>Przychodzące zgłoszenia</h1>

<div class="section">
    <div class="zgloszenie">
        <h2 class="ticket">ZGŁOSZENIE 1</h2>
        <p>tutaj znajduje się treść zgłoszenia</p>
        <a href="ticket"><input type="button" value="Przejdź" /></a>
    </div>
</div>
