@page "/counter"

<PageTitle>Moje zgłoszenia</PageTitle>

<link href="css/ticket.css" rel="stylesheet" type="text/css" />
<h1 class="daneh1">TWOJE ZGŁOSZENIA</h1>

<div class="section">
    <div class="zgloszenie">
        <h2 class="ticket">ZGŁOSZENIE 1</h2>
        <p>tutaj znajduje się treść zgłoszenia</p>
    </div>
</div>

<div class="section">
    <div class="zgloszenie">
        <h2 class="ticket">ZGŁOSZENIE 2</h2>
        <p>tutaj znajduje się treść zgłoszenia</p>
    </div>
</div>

<div class="section">
    <div class="zgloszenie">
        <h2 class="ticket">ZGŁOSZENIE 3</h2>
        <p>tutaj znajduje się treść zgłoszenia</p>
    </div>
</div>

<div class="section">
    <div class="zgloszenie">
        <h2 class="ticket">ZGŁOSZENIE 4</h2>
        <p>tutaj znajduje się treść zgłoszenia</p>
    </div>
</div>

<div class="section">
    <div class="zgloszenie">
        <h2 class="ticket">ZGŁOSZENIE 5</h2>
        <p>tutaj znajduje się treść zgłoszenia</p>
    </div>
</div>

<div class="section">
    <div class="zgloszenie">
        <h2 class="ticket">ZGŁOSZENIE 6</h2>
        <p>tutaj znajduje się treść zgłoszenia</p>
    </div>
</div>




<div class="wave">
    <img src="wave.png" />
</div>
