@page "/account"
@inject HttpClient Http

<PageTitle>Moje konto</PageTitle>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<h1 class="dane">DANE KONTA</h1>

<form>
    <div class="text-center">
        <h2 class="daneh2">IMIĘ</h2>
        <input class="wpisz" type="text" placeholder="Halyna">
        <br />
    </div>
    <div class="text-center">
        <br />
        <h2 class="daneh2">NAZWISKO</h2>
        <input class="wpisz" type="text" placeholder="Kowalska">
        <br />
    </div>
    <div class="text-center">
        <br />
        <h2 class="daneh2">DZIAŁ</h2>
        <input class="wpisz" type="text" placeholder="HR">
        <br />
    </div>
    <div class="text-center">
        <br />
        <h2 class="daneh2">E-MAIL</h2>
        <input class="wpisz" type="text" placeholder="Halyna@gmail.com">
        <br />
    </div>
    <div class="text-center">
        <br />
        <h2 class="daneh2">KONTAKT</h2>
        <input class="wpisz" type="text" placeholder="666 666 666">
        <br />
    </div>
</form>

<div class="wave">
    <img src="wave.png" />
</div>