@page "/account"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1 class="text-center">Twoje konto</h1>

<form>
    <div class="text-center">
        <p>Imię</p>
        <input type="text" placeholder="Halyna" >
        <br />
    </div>
    <div class="text-center">
        <br />
        <p>Nazwisko</p>
        <input type="text" placeholder="Kowalska" >
        <br />
    </div>
    <div class="text-center">
        <br />
        <p>Dział</p>
        <input type="text" placeholder="HR" >
        <br />
    </div>
    <div class="text-center">
        <br />
        <p>E-mail</p>
        <input type="text" placeholder="Halyna@gmail.com" >
        <br />
    </div>
    <div class="text-center">
        <br />
        <p>Kontakt</p>
        <input type="text"placeholder="666 666 666">
        <br />
    </div>
</form>