@page "/"
<link href="css/problem.css" rel="stylesheet" type="text/css" />
<PageTitle>Zgłoś Problem</PageTitle>
<div class="logo">
    <img src="logo.png" />
</div>
<h1 class="daneh1">ZGŁOŚ PROBLEM</h1>
<br />
<form>
    <div class="text-center">
        <textarea class="textArea" name="textArea" rows="2" cols="80" placeholder="Opisz swój problem"></textarea>
    </div>
</form>
<br />

<div class="text-center">
    <button class="buttonik">Wyślij</button>
</div>

<div class="wave">
    <img src="wave.png" />
</div>