@page "/"

<PageTitle>Zgłoś Problem</PageTitle>
<div class="text-center">
    <img src = "logo.png" />
</div>
<h1 class="text-center">Twoje Zgłoszenie</h1>
<br />
<form>
    <div class="text-center">
        <textarea class="textArea" name="textArea" rows="8" cols="60" placeholder="Opisz swój problem"></textarea>
    </div>
</form>
<br />
<div class="text-center">
<button class="center btn btn-primary">Wyślij</button>
</div>
