@page "/logout"

<link href="css/login.css" rel="stylesheet" type="text/css" />

<div class="gg">
    <img src = "logo.png" />
</div>

<form>
    <div>
        <h2>LOGIN</h2>
        <div class="text-center">
        <input class="logindane" type="text" placeholder="Login">
        </div>
    </div>

    <div>
        <h2>HASŁO</h2>
        <div class="text-center">
        <input class="logindane" type="text" placeholder="Hasło">
        </div>
    </div>

    <div class="text-center" >
        <input class="tick" type="checkbox"> Zapamiętaj hasło
    </div>
</form>
<br />
<div class="text-center">
    <button class="buttonik">Zaloguj</button>
<br />
<br />
<p>Nie pamiętasz hasła?</p>
</div>

<div class="wave">
    <img src="wave.png" />
</div>