@page "/logout"

<link href="css/login.css" rel="stylesheet" type="text/css" />

<div class="text-center">
    <img src = "logo.png" />
</div>

<form>
    <div class="text-center">
        <p>Login</p>
        <input type="text" placeholder="Login" >
        <br />
    </div>
    <div class="text-center">
        <br />
        <p>Hasło</p>
        <input type="text" placeholder="Hasło" >
        <br />
    </div>
    <div class="text-center" >
        <input type="checkbox"> Zapamiętaj hasło
    </div>
</form>
<br />
<div class="text-center">
<button class="center btn btn-primary">Zaloguj</button>
<br />
<br />
<p>Nie pamiętasz hasła?</p>
</div>

<div class="wave">
    <img src="wave.png" />
</div>